# Renomeie este arquivo para ".env" e ajuste conforme necessário

# String de conexão do MongoDB (local ou Atlas)
# Local:
MONGO_URI=mongodb://127.0.0.1:27017/biblioteca

# Atlas (exemplo):
# MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/biblioteca

# Porta em que a API vai rodar
PORT=3000
